In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("../csvs/EmAltaReddit.csv")
df.head()

,Unnamed: 0,Title,Score,Num_Comments,Author,Subreddit,Created_Time,URL,Post_Type,Content,Flair
0,0,"Segundo minhas an√°lises, S$P500 deve atingir 2...",1,0,CandyCanePapa,investijumentos,2023-01-28 16:23:25+00:00,https://www.reddit.com/r/investijumentos/comme...,Unknown,NaN,NaN
1,1,"Voc√™ que fez uma gradua√ß√£o em ensino superior,...",10702,799,iAskann,brasil,2024-03-25 15:47:44+00:00,https://www.reddit.com/r/brasil/comments/1bngy...,Unknown,NaN,NaN
2,2,so no brasil,9725,228,Ease-Impossible,brasil,2024-03-01 06:36:50+00:00,https://www.reddit.com/r/brasil/comments/1b3no...,Unknown,NaN,NaN
3,3,Usando AI do jeito certo,9014,178,before_the_knife,brasil,2023-05-02 22:08:16+00:00,https://www.reddit.com/r/brasil/comments/1361x...,Unknown,NaN,NaN
4,4,Apocalipse clim√°tico natalino,8748,248,chicodurao,brasil,2023-11-15 14:59:15+00:00,https://www.reddit.com/r/brasil/comments/17vvf...,Unknown,NaN,NaN

## Top10 posts por score

In [25]:
top10 = df.sort_values(by="Score", ascending=False)[:10]
top10

1       https://www.reddit.com/r/brasil/comments/1bngy...
2       https://www.reddit.com/r/brasil/comments/1b3no...
3901    https://www.reddit.com/r/farialimabets/comment...
3       https://www.reddit.com/r/brasil/comments/1361x...
3902    https://www.reddit.com/r/farialimabets/comment...
4       https://www.reddit.com/r/brasil/comments/17vvf...
5       https://www.reddit.com/r/brasil/comments/15ssk...
3903    https://www.reddit.com/r/farialimabets/comment...
3904    https://www.reddit.com/r/farialimabets/comment...
6       https://www.reddit.com/r/brasil/comments/13cuf...
Name: URL, dtype: object

## Top10 posts por numero de comentarios

In [28]:
top10 = df.sort_values(by="Num_Comments", ascending=False)[:10]
top10

,Unnamed: 0,Title,Score,Num_Comments,Author,Subreddit,Created_Time,URL,Post_Type,Content,Flair
2721,2721,Megathread - Resultados Legislativas 2024,280,5340,TitusRex,portugal,2024-03-10 20:10:01+00:00,https://www.reddit.com/r/portugal/comments/1bb...,Unknown,NaN,NaN
2008,2008,Primeiro-ministro Ant√≥nio Costa demite-se,1043,2004,TitusRex,portugal,2023-11-07 14:28:59+00:00,https://www.reddit.com/r/portugal/comments/17p...,Unknown,NaN,NaN
7593,7593,"üòÖüòêüôÅ caraca, s√≥ piora kkk",728,1658,Vikito07,HUEstation,2023-07-07 14:55:38+00:00,https://www.reddit.com/r/HUEstation/comments/1...,Unknown,NaN,NaN
20380,20380,Match Thread: Sporting CP vs FC Porto | Portug...,63,1471,MatchThreadder,PrimeiraLiga,2023-12-18 20:38:39+00:00,https://www.reddit.com/r/PrimeiraLiga/comments...,Unknown,NaN,NaN
7420,7420,Que o desafi comece,797,1385,Routine_Penalty1241,HUEstation,2023-11-13 22:31:40+00:00,https://www.reddit.com/r/HUEstation/comments/1...,Unknown,NaN,NaN
20418,20418,Match Thread: Benfica vs Sporting CP | Taca de...,63,1337,MatchThreadder,PrimeiraLiga,2024-04-02 19:41:32+00:00,https://www.reddit.com/r/PrimeiraLiga/comments...,Unknown,NaN,NaN
7380,7380,Manda ai,820,1315,Vanatosh,HUEstation,2024-01-15 12:51:11+00:00,https://www.reddit.com/r/HUEstation/comments/1...,Unknown,NaN,NaN
20,20,Qual √© o maior choque cultural que um de nosso...,5287,1309,LosurdoEnjoyer,brasil,2023-10-22 23:59:34+00:00,https://www.reddit.com/r/brasil/comments/17e72...,Unknown,NaN,NaN
55,55,Quando lembro do maior crime da hist√≥ria da hu...,3140,1250,dieg0s,brasil,2023-06-01 14:27:49+00:00,https://www.reddit.com/r/brasil/comments/13xj0...,Unknown,NaN,NaN
20439,20439,Match Thread: Sporting CP vs Benfica | Taca de...,63,1223,MatchThreadder,PrimeiraLiga,2024-02-29 20:44:15+00:00,https://www.reddit.com/r/PrimeiraLiga/comments...,Unknown,NaN,NaN

## Top10 autores que mais aparecem

In [31]:
df["Author"].value_counts()[:10]

Author
deusonitorrinco         411
magicomplex             376
zek_997                 222
AgeuDark                218
halflemonade            185
AutoModerator           166
Federal_Scarcity_963    109
chiphead2332            108
DivideTrick2127         103
kwamac                   99
Name: count, dtype: int64

## Top10 Subreddit com mais posts

In [32]:
df["Subreddit"].value_counts()[:10]

Subreddit
palmeiras          998
InternetBrasil     996
CRFla              996
PrimeiraLiga       995
HUEstation         994
brasil             993
PORTUGALCARALHO    992
rpg_brasil         992
gamesEcultura      992
Tormenta           991
Name: count, dtype: int64

## Quantidade de posts por mes

In [35]:
df['Created_Time'] = pd.to_datetime(df['Created_Time'])

df['Year_Month'] = df['Created_Time'].dt.to_period('M')

monthly_posts = df.groupby('Year_Month').size().reset_index(name='Post_Count')

print(monthly_posts)

   Year_Month  Post_Count
0     2022-06           1
1     2023-01           1
2     2023-04        2548
3     2023-05        2987
4     2023-06        2314
5     2023-07        2266
6     2023-08        2543
7     2023-09        2138
8     2023-10        2355
9     2023-11        2401
10    2023-12        2718
11    2024-01        3110
12    2024-02        3013
13    2024-03        3099
14    2024-04         320

/tmp/ipykernel_1094046/2539444202.py:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['Year_Month'] = df['Created_Time'].dt.to_period('M')

## Quantidade de posts por mes e por subreddit especifico

In [36]:
df['Created_Time'] = pd.to_datetime(df['Created_Time'])

df['Year_Month'] = df['Created_Time'].dt.to_period('M')

monthly_posts = df.groupby(['Year_Month', 'Subreddit']).size().reset_index(name='Post_Count')

monthly_posts[monthly_posts["Subreddit"] == "CRFla"]

/tmp/ipykernel_1094046/1678518023.py:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['Year_Month'] = df['Created_Time'].dt.to_period('M')

    Year_Month Subreddit  Post_Count
4      2023-04     CRFla          78
38     2023-05     CRFla         111
73     2023-06     CRFla         109
107    2023-07     CRFla         116
139    2023-08     CRFla          84
170    2023-09     CRFla          81
203    2023-10     CRFla          67
236    2023-11     CRFla          68
269    2023-12     CRFla          69
301    2024-01     CRFla          95
332    2024-02     CRFla          41
363    2024-03     CRFla          71
395    2024-04     CRFla           6

## Quantidade de posts por mes e por autor especifico

In [38]:
df['Created_Time'] = pd.to_datetime(df['Created_Time'])

df['Year_Month'] = df['Created_Time'].dt.to_period('M')

monthly_posts = df.groupby(['Year_Month', 'Author']).size().reset_index(name='Post_Count')

monthly_posts[monthly_posts["Author"] == "zek_997"]

/tmp/ipykernel_1094046/4090059743.py:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['Year_Month'] = df['Created_Time'].dt.to_period('M')

      Year_Month   Author  Post_Count
1524     2023-04  zek_997           4
3334     2023-05  zek_997           3
4726     2023-06  zek_997          13
6041     2023-07  zek_997          18
7411     2023-08  zek_997          11
8821     2023-09  zek_997          20
10345    2023-10  zek_997          23
11887    2023-11  zek_997          23
13681    2023-12  zek_997          38
15637    2024-01  zek_997          39
17554    2024-02  zek_997           8
19557    2024-03  zek_997          18
19825    2024-04  zek_997           4

## Quantidade de Score por tempo por post

In [43]:
df['Created_Time'] = pd.to_datetime(df['Created_Time'])

df['Year_Month'] = df['Created_Time'].dt.to_period('M')

monthly_posts = df.groupby('Year_Month')["Score"].sum().reset_index(name='Score_Sum')

monthly_posts

/tmp/ipykernel_1094046/418588266.py:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['Year_Month'] = df['Created_Time'].dt.to_period('M')

   Year_Month  Score_Sum
0     2022-06        442
1     2023-01          1
2     2023-04     767993
3     2023-05     944517
4     2023-06     721067
5     2023-07     715325
6     2023-08     614786
7     2023-09     487007
8     2023-10     502867
9     2023-11     538299
10    2023-12     532397
11    2024-01     577220
12    2024-02     666920
13    2024-03     726883
14    2024-04      75205

## Quantidade de Score por tempo por subreddit

In [42]:
df['Created_Time'] = pd.to_datetime(df['Created_Time'])

df['Year_Month'] = df['Created_Time'].dt.to_period('M')

monthly_posts = df.groupby(['Year_Month', 'Subreddit'])["Score"].sum().reset_index(name='Score_Sum')

monthly_posts[monthly_posts["Subreddit"] == "CRFla"]

/tmp/ipykernel_1094046/182586879.py:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['Year_Month'] = df['Created_Time'].dt.to_period('M')

    Year_Month Subreddit  Score_Sum
4      2023-04     CRFla       5531
38     2023-05     CRFla       7169
73     2023-06     CRFla       7797
107    2023-07     CRFla       8726
139    2023-08     CRFla       5465
170    2023-09     CRFla       6225
203    2023-10     CRFla       4951
236    2023-11     CRFla       5157
269    2023-12     CRFla       6199
301    2024-01     CRFla       8296
332    2024-02     CRFla       3761
363    2024-03     CRFla       5651
395    2024-04     CRFla        324

## Quantidade de Score por tempo por autor

In [44]:
df['Created_Time'] = pd.to_datetime(df['Created_Time'])

df['Year_Month'] = df['Created_Time'].dt.to_period('M')

monthly_posts = df.groupby(['Year_Month', 'Author'])["Score"].sum().reset_index(name='Score_Sum')

monthly_posts[monthly_posts["Author"] == "zek_997"]

/tmp/ipykernel_1094046/3712141196.py:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['Year_Month'] = df['Created_Time'].dt.to_period('M')

      Year_Month   Author  Score_Sum
1524     2023-04  zek_997         93
3334     2023-05  zek_997        120
4726     2023-06  zek_997        485
6041     2023-07  zek_997        379
7411     2023-08  zek_997        424
8821     2023-09  zek_997        213
10345    2023-10  zek_997        355
11887    2023-11  zek_997        293
13681    2023-12  zek_997        917
15637    2024-01  zek_997       1429
17554    2024-02  zek_997        139
19557    2024-03  zek_997        601
19825    2024-04  zek_997        102